body {
    display: grid;
    justify-items: center;
    background-color: #bbd4fa;
    margin: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.curriculo {
    display: flex;  
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 80px 0 black;
    background-color: white;
    width: 1080px;
    height: 1600px;
}

.direita {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    width: 68%;
}

.esquerda {
    display: flex;
    flex-direction: column;
    width: 32%;
    background-color: #335384;
}

.nome {
    font-size: 45px;
}

h2, h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-align: left;
    color: #335384;
    margin-bottom: 0;
}

.cargo {
    color: #5ba7d1;
    letter-spacing: 0;
    margin-top: 10px;
}

h3 {
    color: #5ba7d1;
    letter-spacing: 4px;
    margin-top: 50px;
    margin-bottom: 0;
}

.titulo {
    margin-bottom: 0;
    font-weight: 500;
    margin-top: 20px;
}

.tituloEsq {
    color: #ffffff;
    letter-spacing: 4px;
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 25px;
}

.instituicao {
    margin-top: 0;
    margin-bottom: 0;
    color: #4444407e;
}

ul {
    margin-top: 8px;
    margin-left: 20px;
    padding: 0px;
}

.disciplinas {
    margin-bottom: 0;
}

.paragrafoInf {
    color: #ffffff;
    font-size: 13px;
}

.paragrafoEsq {
    color: #ffffff;
    font-size: 13px;
    margin-left: 25px;
    margin-bottom: 35px;
}

.contato, .email, .github, .linkedin, .localizacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

#localizacao {
    width: 20px;
    height: 22px;
    text-align: left;
    padding: 15px;
    padding-left: 3px;
    margin-top: 10px;
    margin-left: 25px;
}

#telefone, #github, #linkedin {
    width: 20px;
    height: 22px;
    text-align: left;
    padding: 15px;
    padding-left: 0;
    padding-top: 5px;
    margin-top: 10px;
    margin-left: 25px;
}

#telefone {
    padding-left: 4px;
    padding-right: 10px;
}

#email {
    width: 25px;
    height: 15px;
    text-align: left;
    padding: 0;
    margin-left: 25px;
    margin-right: 10px;
}